.attendance-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 2px solid rgb(41, 37, 37);
  }
  
  
  .attendance-details {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
  }
  
  .attendance-detail {
    display: flex;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .attendance-detail label {
    font-weight: bold;
  }

  
.attendance-row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 10px;
}

.attendance-detail {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
}

.attendance-detail label {
  font-weight: bold;
  white-space: nowrap;
}

.attendance-detail span {
  white-space: nowrap;
}


.info-card {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
